/*.footerBg {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  width: 100%;
}*/
.footer {
  padding-top: 10%;
  color: #f4f8f7;
  font-size: large;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5%;
}
.bg{
  background-image: url(./bgimage/footerbg.svg);
}
.footer a{
  text-decoration: none;
  color: #f4f8f7;
}
.footer a:hover{
  color:black
}
.fa-margin {
  position: relative;
  top:5px;
  margin-right: 20px;
}
.fa-button{
  width: 30px;
  height: 30px;
}
.links a{
  margin-left: 10px;
}
.bottom{
  color:#f4f8f7;
  font-size: small;
}
.bottom a{
  text-decoration: none;
  color: #f4f8f7;
}
/*Bijak colors #52ae77 #4da470*/
