@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/*header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 30px 100px;
}
header .logo {
  font-family: "Poppins", sans-serif;
  position: relative;
  font-weight: 700;
  color: #5caa45;
  text-decoration: none;
  font-size: 2em;
  transition: 0.6s;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  font-weight: 500px;
}
.bb-color {
  background-color: white;
}*/
body {
  margin: 80px auto;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: 0.6s;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 8vh;
  margin-top: 30px;
  margin-left: 100px;
}
.logo a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: #5caa45;
  font-size: 2em;
  transition: 0.6s;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-size: 16px;
}
.nav-links a {
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.nav-links li {
  list-style: none;
}
.nav-links li :hover {
  color: #7dc580;
}
.bb-color {
  width: 100;
  background-color: white;
  box-shadow: 0px 15px 10px -15px;
}
