@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 8vh;
  margin-top: 30px;
  margin-left: 100px;
}
.logo a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #5caa45;
  font-size: 42px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-size: 16px;
}
.nav-links a {
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.nav-links li {
  list-style: none;
}
.nav-links li :hover {
  color: #7dc580;
}
