@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("./components/images/bg.svg") no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
